################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/CoursePractices/v15/.suo
