################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/CoursePractices/v15/.suo
/angular_cub/node_modules
/ASP.NET MVC/slnFirstMvc/prjFirstMvc/bin
/ASP.NET MVC/slnEmps/.vs/slnEmps
/ASP.NET MVC/slnEmps/prjEmps/bin
/ASP.NET MVC/slnEmps/prjEmps/App_Data/dbEmp_log.ldf
/ASP.NET MVC/slnEmps/prjEmps/obj/Debug/TempPE
/ASP.NET MVC/slnEmps/prjEmps/App_Data/dbEmp.mdf
/ASP.NET MVC/slnController/prjController/bin
/Python_WebCrawler/app/.ipynb_checkpoints
