
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowTime</title>
</head>
<body>
    <div>
        進站時間:@ViewBag.DateTime
    </div>
</body>
</html>
